<ion-view hide-tabs='true'>
  <ion-content class="padding">
    <ion-list class="list card">
      <ion-item ng-repeat="item in articles" href="#/tab/sections/{{item.section}}/{{item.id}}">
        <div class="item item-image" style="height: 160px;" ><img ng-src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png"></div>
        <div class="item">
          {{item.title}}
        </div>
        <ion-option-button class="button-positive icon ion-share"
                           ng-click="share(item)">
        </ion-option-button>
        <ion-option-button class="button-light icon ion-heart"
                           ng-click="farvorite(item)">
        </ion-option-button>
       </ion-item>
     <ion-list >
  </ion-content>
</ion-view>
