<ion-view view-title="Xpergineer">
 <ion-content class="padding">
  <ion-list >
   <ion-item ng-repeat="item in items" class="item-thumbnail-left item-icon-right" href="#/tab/items/{{item.id}}">
    <img ng-src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
    <h2>{{item.title}}</h2>
    <p>{{item.text}}</p>
    <i class="icon ion-chevron-right icon-accessory"></i>
    <ion-option-button class="button-positive icon ion-share"
                       ng-click="share(item)">
    </ion-option-button>
    <ion-option-button class="button-light icon ion-heart"
                       ng-click="farvorite(item)">
    </ion-option-button>
   </ion-item>
  </ion-list>
 </ion-content>
