<ion-view view-title="Xpergineer">
 <ion-content class="padding">
  <ion-list >
   <ion-item ng-repeat="item in items" class="item-thumbnail-left">
    <img ng-src="{{item.img}}">
    <h2>{{item.title}}</h2>
    <p>{{item.description}}</p>
    <ion-option-button class="button-positive icon ion-share"
                       ng-click="share(item)">
    </ion-option-button>
    <ion-option-button class="button-light icon ion-heart"
                       ng-click="farvorite(item)">
    </ion-option-button>
   </ion-item>
  </ion-list>
 </ion-content>
