<ion-view>
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refreshNews()">
    </ion-refresher>
    <ion-list class="list card">
      <ion-item ng-repeat="item in articles" class="list card" href="#/tab/home/{{item.id}}">
        <div class="item item-image" style="height: 160px;" ><img ng-src="{{server}}{{item.photo}}"></div>
        <div class="item">
          {{item.title}}
        </div>
        <ion-option-button class="button-positive icon ion-share"
                           ng-click="share(item)">
        </ion-option-button>
        <ion-option-button class="button-light icon ion-heart"
                           ng-click="farvorite(item)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>